[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"

[packages]
django = "*"
django-split-settings = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
